.banner {
    background-image: url("../images/about/banner-formated.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    color:white;
}

.banner p {
    font-size: 48px;
    font-weight: 700;
}


.snapshot .learn-more-arrow {
    width: 110px;
}

.contact {
    background-color: #D6F7EE;
}

.contact .contact__title {
    font-size: 40px;
    font-weight: 400;
}

.contact .btn {
    border-radius: 0;
}

.contact .contact__quote {
    font-size:12px; 
}


.footer {
    background-color: #F6F2F1;
    
}