img {
    width: 100%;
    object-fit: cover;
}

.changepassword {
    background-color: #D6F7EE;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
    height: 3em;
    line-height: 3em;
    margin-bottom: 1em;
}

.btn-secondary {
    width: 250px;
    height: 60px;
    background: #42F2CB;
    border: none;
    border-radius: 0%;
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 1em;
}


.btn-secondary:hover {
    background-color: #00CCFF;
}


.footer {
    background-color: #F6F2F1;
}
