.form-control {
    border-radius: 0;
}


.footer {
    background-color: #F6F2F1;
    
}

.forgotpassword {
    background-color: #D6F7EE;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-secondary {
    background: #42F2CB;
    border: none;
    border-radius: 0%;
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #00CCFF;
}