body{
    
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    text-decoration: none;
    color: white;
    transition: ease 0.3s;
}




ul {
    list-style-type: none;
}

.btn-primary {
    border-radius: 0%;
    background-color: #00A8E8;
    border:none;
}
