h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

a {
    color:#000;
}

.form-control {
    border-radius: 0;
}


.login-border-bottom {
    border-bottom: 2px solid #42F2CB;
    margin-bottom: 2rem;
    width: 100%;
    margin-top: 2rem;
}



.footer {
    background-color: #F6F2F1;
    
}

.login {
    background-color: #D6F7EE;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 0px;
    padding-right: 0px;
}