body{

}

ul {
    list-style-type: none;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
}


a {
    color:#000;
}

a:hover {
    text-decoration: none;
    color: white;
    transition: ease 0.3s;
}
.header a:hover {
    text-decoration: none;
}

.btn-primary {
    border-radius: 0%;
    background-color: #00A8E8;
    border:none;
}


.header {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: 4rem;
}

.header .brand h5 {
    color :white;
    margin:auto;
}

img {
    width: 100%;
    object-fit: cover;
}

.intro {
    margin-top: 3em;
    margin-bottom: 8em;
    margin-left: 3em;
    margin-right: 3em;
}

.intro h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.intro h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.intro p, .course p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: justify;
    margin-bottom: 2em;
}


.number {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 150px;
    color: #000000;
}

.course {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
}

.course h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 2em;
}

.course-border-right {
    border-right: 5px solid  #000000;
    margin-right: 0.5em;
}

.course-border-left {
    border-left: 5px solid  #000000;
    margin-left: 0.5em;
}

.profile {
    background-color: #D6F7EE;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0px;
    padding-right: 0px;
}

form {
    width: 526px;
}

.form-control {
    height: 3em;
    line-height: 3em;
    margin-bottom: 1em;
}

.btn-secondary {
    width: 250px;
    height: 60px;
    background: #42F2CB;
    border: none;
    border-radius: 0%;
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 1em;
}


.btn-secondary:hover {
    background-color: #00CCFF;
}


.footer {
    background-color: #F6F2F1;
}

.profile-img {
    width: 20em;
    height: 20em;
}


form {
    width: 100%;
}


input {
    width: 100%;
}